* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'outfit', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    width: 800px;
    margin: 0 auto;
    margin-top: 36px;
}

.main {
    display: flex;
}

.left-column {
    min-width: 260px;
    padding: 20px;
}

.right-column {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 20px;
}

.header {
    padding-bottom: 16px;
    border-bottom: 1px solid rgba(226, 230, 238, 1);
}

.title {
    font-size: 32px;
    line-height: 32px;
    font-weight: 500;
    margin-bottom: 4px;
}

.title-color {
    font-size: 22px;
    line-height: 22px;
    font-weight: 500;
    background: linear-gradient(rgba(164, 120, 232, 1),rgba(81, 108, 247, 1));
    color: transparent;
    background-clip: text;
}

.photo {
    width: 96px;
    height: 96px;
    border-radius: 50%;
    margin-bottom: 8px;
}

.socials {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid rgba(226, 230, 238, 1);
}

li {
    list-style: none;
}

.social {
    display: flex;
    align-items: center;
    gap: 8px;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: rgba(226, 230, 238, 1);
}

.gray {
    font-size: 12px;
    line-height: 12px;
    color: rgba(121, 129, 154, 1);
    font-weight: 400;
    margin-bottom: 2px;
}

.black {
    font-size: 14px;
    line-height: 14px;
    font-weight: 500;
}

.languages {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.language {
    display: flex;
    gap: 8px;
}

.language .black {
    margin-bottom: 4px;
}

.language .gray {
    margin-bottom: 0;
}

.lang-title {
    font-size: 12px;
    line-height: 12px;
    color: rgba(121, 129, 154, 1);
    font-weight: 400;
}

.icon-country {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.info-title {
    font-size: 22px;
    line-height: 22px;
    font-weight: 400;
    margin-bottom: 16px;
}

.example {
    background: rgba(226, 230, 238, 1);
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    margin-top: auto;
}

.git {
    width: 32px;
    height: 32px;
}

.rss {
    height: 32px;
    width: 86px;
}